<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="tcpConnectionString" connectionString="Data Source=ABHISHEK;Initial Catalog=tcp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tcpConnectionString2" connectionString="Data Source=ABHISHEK;Initial Catalog=tcp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="tcpConnectionString3" connectionString="Data Source=ABHISHEK;Initial Catalog=tcp;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
